@font-face {
    font-family: "pf_agora_slab_regular";
    src: url(../../Fonts/PF_Agora_Slab_Pro_Regular.ttf);
}
@font-face {
    font-family:"pf_agora_slab_bold";
    src: url(../../Fonts/PF_Agora_Slab_Pro_Bold.ttf);
}
@font-face {
    font-family: "effra_regular";
    src: url(../../Fonts/Effra_Std_Rg.ttf);
}
@font-face {
    font-family: "effra_ligth";
    src: url(../../Fonts/Effra_Std_Lt.ttf);
}

@mixin pfRegular {
    font-family: "pf_agora_slab_regular";
}

@mixin pfBold {
    font-family: "pf_agora_slab_bold";
}

@mixin effraRegular {
    font-family: "effra_regular";
}

@mixin effraLight {
    font-family: "effra_ligth";
}

* {
    transition: all .25s ease-in-out;
}