@mixin nav_button ($buttonColor, $textButtonColor, $buttonColorHover, $textButtonColorHover) {
    background-color: $buttonColor;
    color: $textButtonColor;

    border: none;

    cursor: pointer;

    margin: 1rem;
    padding: 1.5rem 4rem;

    transform: skew(-20deg);

    transition: all 250ms ease-in-out;

    p {
        font-size: 2rem;
        font-weight: bold;
        @include pfRegular();

        transform: skew(20deg);
    }

    &:hover {
        background-color: $buttonColorHover;
        color: $textButtonColorHover;
    }
    @media (max-width:425px) {
        font-size: 1.8rem;
        padding: 1rem 2.5rem;
        transform: skew(0deg);

        p {
            transform: skew(0deg);
        }
    }
}
