// Background colors
$color_cream:#ECE4DB;
$color_white:#fff;

// Main colors
$color_blueClear:#25A29A;
$color_blueDark:#005A69;
$color_yellow:#F9B000;
$color_black:#4B4F54;

// Question colors
$color_green:#5F884B;
$color_red:#8F3131;