@import '../../../Scss/var';
@import '../../../Scss/mixin';
@import '../../../Scss/fonts';

* {
    margin: 0;
    padding: 0;

    font-size: 62.5%;
}

body {
    background-color: $color_cream;

    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    font-size: 8.2rem;
    @include pfRegular();
}

h2 {
    font-size: 3.2rem;
    @include pfRegular();
}

h3 {
    font-size: 2.8rem;
    @include pfRegular();
}

h4,
h5,
h6 {
    font-size: 2.4rem;
    @include pfRegular();
}

p,
strong,
b,
i,
a,
ul,
li {
    font-size: 2rem;
    @include effraRegular();
}

.hidden {
    display: none;
}

.container_header--stepNine {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container_textBlock {
        align-items: center;
        display: flex;
        justify-content: center;

        background-color: $color_blueClear;

        margin: 2rem;
        padding: 2rem;

        width: 40%;

        transform: skew(-20deg);

        .content_textBlock {
            color: $color_white;
            text-align: center;
            transform: skew(20deg);
        }
    }
}

.container_main--stepNine {

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $color_white;
    border-top: 1rem solid $color_blueClear;

    margin: 0 auto;

    width: 80%;

    .container_yellowBarTitle {
        align-items: center;
        display: flex;
        margin: 1% 0;

        width: 40%;

        .content_yellowBarTitle--yellowBar {
            background-color: $color_yellow;
            clip-path: polygon(100% 0, 75% 100%, 0% 100%, 0 50%, 0% 0%);
            padding: 5% 10%;
        }

        .content_yellowBarTitle--title {
            color: $color_blueDark;
            margin: 0 2%;
        }
    }

    .container_ilustrationAndText {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 2%;

        

        .content_ilustrationAndText--text {
            width: 50%;
        }
    }

    .content_separationBar--treeColors {
        margin: 2% auto;
        width: 70%;
    }

    .container_informationBlockOne {

        .content_informationBlockOne--subtitle {
            color: $color_blueDark;

            margin: 2% auto;
            text-align: center;

            width: 70%;
        }

        .container_informationBlockOne--buttons {
            background-image: url(../../assets/step09/image_bgButtons--stepNine.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            align-items: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;

            padding: 5% 0;

            .container_informationBlockOne--organizeButtons {

                align-items: center;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                width: 100%;

                .content_informationBlockOne--button {
                    background-color: $color_white;
                    border-radius: 50%;
                    border: 2rem solid $color_blueDark;
                    box-shadow: 0 0 0 .8rem $color_blueDark;
                    outline: .3rem solid $color_white;

                    cursor: pointer;

                    margin: 2%;
                    padding: 2rem;
                }
            }


        }

        .content_informationBlockOne--text {

            margin: auto;
            padding: 2%;

            text-align: center;

            width: 70%;
        }
    }

    .container_informationBlockTwo {

        .content_informationBlockTwo--subtitle {
            color: $color_blueDark;

            margin: 2% auto;
            text-align: center;

            width: 70%;
        }

        .container_informationBlockTwo--div {
            align-items: center;
            display: flex;
            flex-direction: column;

            margin: 2%;

            .container_informationBlockTwo--cards {
                align-items: center;
                display: flex;
                justify-content: center;

                .container_informationBlockTwo--card {
                    background-color: $color_blueDark;
                    color: $color_white;

                    align-items: center;
                    display: flex;
                    justify-content: center;

                    height: 300px;
                    width: 350px;

                    margin: 2%;
                    padding: 5%;

                    transform: skew(-20deg);

                    .content_informationBlockTwo--text {
                        margin: 2%;


                        text-align: center;
                        transform: skew(20deg);

                    }
                }
            }
        }
    }

    .container_informationBlockTree {

        .content_informationBlockTree--subtitle {
            color: $color_blueDark;

            margin: 2% auto;
            text-align: center;

            width: 70%;
        }

        .container_informationBlockTree--div {
            background-image: url(../../assets/step09/image_bg--stepNine.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            align-items: center;
            display: flex;
            justify-content: center;

            .container_informationBlockTree--buttons {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                justify-content: center;

                margin: auto;

                width: 50%;

                .container_informationBlockTree--button {
                    align-items: center;
                    display: flex;
                    flex-direction: row;

                    margin: 2%;

                    width: 100%;

                    .content_informationBlockTree--button {
                        background-color: $color_white;
                        border-radius: 50%;
                        border: 2rem solid $color_blueDark;
                        box-shadow: 0 0 0 .8rem $color_blueDark;
                        outline: .3rem solid $color_white;

                        cursor: pointer;

                        margin: 2%;
                        padding: 2rem;

                    }

                    .content_informationBlockTree-text {
                        margin: 2%;

                        text-align: left;

                        width: 50%;
                    }
                }


            }
        }

    }

    .container_practiceButton {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content_practiceButton--text {
            margin: 2%;
            text-align: center;
        }

        .content_practiceButton--button {
            @include nav_button($color_cream, $color_blueClear, $color_blueDark, $color_white);
        }
    }

    .content_main--subtitle {
        color: $color_blueDark;

        margin: 2% auto;
        text-align: center;

        width: 70%;

    }
}

@media (max-width:1024px) {
    .container_main--stepNine {

        .container_yellowBarTitle {
            width: 60%;
        }
    }
}

@media (max-width:768px) {
    .container_header--stepNine {

        .container_textBlock {
            width: 60%;
        }
    }

    .container_main--stepNine {
        width: 90%;

        .container_yellowBarTitle {
            width: 70%;
        }

        .container_informationBlockOne {

            .content_informationBlockOne--subtitle {
                width: 90%;

            }

            .container_informationBlockOne--buttons {

                .container_informationBlockOne--organizeButtons {

                    .content_informationBlockOne--button {
                        border: 1rem solid $color_blueDark;
                        box-shadow: 0 0 0 .4rem $color_blueDark;
                        outline: .15rem solid $color_white;

                        padding: 1rem;
                    }
                }
            }

            .content_informationBlockOne--text {
                width: 90%;

            }
        }

        .container_informationBlockTwo {

            .content_informationBlockTwo--subtitle {
                width: 90%;
            }

            .container_informationBlockTwo--div {

                .container_informationBlockTwo--cards {

                    .container_informationBlockTwo--card {
                        height: 250px;
                        width: 300px;

                        transform: skew(-10deg);

                        .content_informationBlockTwo--text {
                            transform: skew(10deg);

                        }
                    }
                }
            }
        }

        .container_informationBlockTree {

            .content_informationBlockTree--subtitle {
                width: 90%;
            }

            .container_container_informationBlockTree--div {
                flex-direction: column;

                .container_informationBlockTree--buttons {
                    width: 100%;

                    .container_informationBlockTree--button {
                        width: 90%;

                        .content_informationBlockTree-text {
                            width: unset;
                        }
                    }
                }
            }
        }

        .content_main--subtitle {
            width: 90%;
        }
    }
}

@media (max-width:425px) {
    .container_header--stepNine {

        .container_textBlock {
            width: 80%;
        }
    }

    .container_main--stepNine {
        width: 95%;

        .container_yellowBarTitle {
            width: 90%;
        }

        .container_ilustrationAndText {
            flex-direction: column;

            .content_ilustrationAndText--ilustration {
                width: 90%;
            }

            .content_ilustrationAndText--text {
                text-align: center;
                width: 90%;
            }
        }

        .container_informationBlockTwo {

            .container_informationBlockTwo--div {

                .container_informationBlockTwo--cards {
                    flex-direction: column;

                    .container_informationBlockTwo--card {
                        height: 280px;
                        width: 300px;

                        transform: skew(-0deg);

                        .content_informationBlockTwo--text {
                            transform: skew(0deg);

                        }
                    }
                }
            }
        }

        .container_informationBlockTree {

            .container_informationBlockTree--div {
                flex-direction: column;

                .container_informationBlockTree--buttons {
                    width: 90%;

                    .container_informationBlockTree--button {
                        flex-direction: column;

                        .content_informationBlockTree--button {
                            border: 1rem solid $color_blueDark;
                            box-shadow: 0 0 0 .4rem $color_blueDark;
                            outline: .15rem solid $color_white;

                            padding: 1rem;

                        }

                        .content_informationBlockTree-text {
                            text-align: center;
                            width: 90%;                        
                        }
                    }
                }
            }
        }
    }
}