@import '../../../Scss/var';
@import '../../../Scss/mixin';
@import '../../../Scss/fonts';

* {
    margin: 0;
    padding: 0;

    font-size: 62.5%;
}

body {
    background-color: $color_cream;

    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    font-size: 8.2rem;
    @include pfRegular();
}

h2 {
    font-size: 3.2rem;
    @include pfRegular();
}

h3 {
    font-size: 2.8rem;
    @include pfRegular();
}

h4,
h5,
h6 {
    font-size: 2.4rem;
    @include pfRegular();
}

p {
    font-size: 2rem;
    @include effraRegular();
}

.main_introduction {

    align-items: flex-start;
    display: flex;
    justify-content: center;

    margin: 2rem;

    .content_main--image {
        width: 50%;
    }

    .content_main--text {
        color: $color_black;

        margin: 1rem;

        &:last-child {
            font-weight: bold;
        }
    }
}

@media (max-width:425px) {
    .main_introduction {
        align-items: center;
        flex-direction: column;

        .content_main--text {
            text-align: center;
        }
    }
}