@import '../../../Scss/var';
@import '../../../Scss/mixin';
@import '../../../Scss/fonts';

* {
    margin: 0;
    padding: 0;

    font-size: 62.5%;
}

body {
    background-color: $color_cream;
}

h1 {
    font-size: 6.4rem;
    @include pfRegular();
}

h2 {
    font-size: 3.2rem;
    @include pfRegular();
}

h3 {
    font-size: 2.8rem;
    @include pfRegular();
}

h4,
h5,
h6 {
    font-size: 2.4rem;
    @include pfRegular();
}

p {
    font-size: 2rem;
    @include effraRegular();
}

.header_introduction {

    display: flex;
    flex-direction: column;

    .container_header--title {
        background-image: url();
        filter: brightness(0) saturate(100%) invert(21%) sepia(97%) saturate(957%) hue-rotate(155deg) brightness(99%) contrast(102%);

        .content_header--title {

            background-color: $color_blueDark;

            clip-path: polygon(100% 0, 85% 100%, 0 100%, 0% 0%);

            width: 25%;

            h1 {
                color: $color_white;
                text-align: center;
            }
        }
    }

    .container_header--bar {
        background-color: $color_blueClear;

        margin: 1rem 0;
        padding: 3rem 0;

        width: 100%;
    }
}

.main_introduction {

    align-items: flex-start;
    display: flex;
    justify-content: center;

    margin: 2rem;

    .content_main--image {
        width: 50%;
    }

    .content_main--text {
        color: $color_black;

        margin: 1rem;

        &:last-child {
            font-weight: bold;
        }
    }
}