@import '../../../Scss/var';
@import '../../../Scss/mixin';
@import '../../../Scss/fonts';

* {
    margin: 0;
    padding: 0;

    font-size: 62.5%;
}

body {
    background-color: $color_cream;

    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    font-size: 8.2rem;
    @include pfRegular();
}

h2 {
    font-size: 3.2rem;
    @include pfRegular();
}

h3 {
    font-size: 2.8rem;
    @include pfRegular();
}

h4,
h5,
h6 {
    font-size: 2.4rem;
    @include pfRegular();
}

p,
strong,
b,
i {
    font-size: 2rem;
    @include effraRegular();
}

.container_header--stepFive {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container_textBlock {
        align-items: center;
        display: flex;
        justify-content: center;

        background-color: $color_blueClear;

        margin: 2rem;
        padding: 2rem;

        width: 40%;

        transform: skew(-20deg);

        .content_textBlock {
            color: $color_white;

            transform: skew(20deg);
        }
    }
}

.container_main--stepFive {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $color_white;
    border-top: 1rem solid $color_blueClear;

    margin: 0 auto;

    width: 80%;

    .container_buttonsInteraction {

        .content_buttonsInteraction--mainText {
            margin: 2% auto;
            text-align: center;
        }

        .container_buttonsInteraction--buttons {
            background-image: url(../../assets/step05/money_image_stepFive.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            align-items: center;
            display: flex;
            justify-content: space-around;

            margin: 2% 4%;
            padding: 10% 5%;


            .content_buttonsInteraction--button {
                background-color: $color_white;
                border-radius: 50%;
                border: 2rem solid $color_blueDark;
                box-shadow: 0 0 0 .8rem $color_blueDark;
                outline: .3rem solid $color_white;

                cursor: pointer;

                padding: 2rem;

                height: 8rem;
                width: 8rem;
            }
        }

        .container_buttonsInteraction--text {
            align-items: center;
            display: flex;
            justify-content: space-around;

            .content_buttonsInteraction--text {
                margin: 2% 5%;
                text-align: center;
                width: 25%;
            }

            .hidden {
                opacity: 0;
            }
        }


    }

    .content_separationBar--treeColors {
        margin: 2%;
        width: 70%;
    }

    .container_videoInformation {

        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content_videoInformation--text {
            margin: 2%;
            text-align: center;
        }

        .content_video--iframe {

            height: 350px;
            width: 560px;

        }
    }

    .container_audioInformation {
        align-items: center;
        display: flex;
        justify-content: center;

        margin: 2%;

        width: 80%;

        .content_audioInfomation--image {
            margin: 2%;
        }

        .container_audioInfomartion--button {
            margin: 2%;

            .content_audioInfomation--button {
                cursor: pointer;
            }
        }
    }
}

@media (max-width:768px) {

    .container_main--stepFive {
        width: 90%;

        .container_buttonsInteraction {

            .container_buttonsInteraction--buttons {

                .content_buttonsInteraction--button {
                    height: 6rem;
                    width: 6rem;
                }
            }

            .container_buttonsInteraction--text {

                .content_buttonsInteraction--text {
                    font-size: 1.6rem;
                }
            }
        }

        .container_audioInformation {

            flex-direction: column;

            width: 70%;
        }
    }
}

@media (max-width:425px) {

    .container_main--stepFive {
        width: 95%;

        .container_buttonsInteraction {

            .container_buttonsInteraction--buttons {



                .content_buttonsInteraction--button {
                    border: 1rem solid $color_blueDark;
                    box-shadow: 0 0 0 .4rem $color_blueDark;
                    outline: .15rem solid $color_white;

                    padding: 1rem;

                    height: 5rem;
                    width: 5rem;
                }
            }

            .container_buttonsInteraction--text {
                flex-wrap: wrap;

                .content_buttonsInteraction--text {
                    font-size: 1.6rem;
                }
            }
        }

        .container_videoInformation {

            .content_video--iframe {

                margin: 2%;

                height: 180px;
                width: 350px;

            }
        }

        .container_audioInformation {

            .content_audioInfomation--image {
                margin: 2%;
                width: 300px;
            }

            .container_audioInfomartion--button {

                .content_audioInfomation--button {
                    width: 100px;
                }
            }
        }
    }
}

@media (max-width:320px) {

    .container_header--stepFive {

        .container_textBlock {
            width: 60%;

            .content_textBlock {
                text-align: center;
            }
        }
    }

    .container_main--stepFive {

        .container_buttonsInteraction {

            .content_buttonsInteraction--mainText {
                margin: 2%;
                text-align: center;
            }

            .container_buttonsInteraction--buttons {

                .content_buttonsInteraction--button {
                    border: .6rem solid $color_blueDark;
                    box-shadow: 0 0 0 .2rem $color_blueDark;
                    outline: .1rem solid $color_white;

                    padding: 1rem;

                    height: 4rem;
                    width: 4rem;
                }
            }
        }

        .container_videoInformation {

            .content_video--iframe {

                margin: 2%;

                height: 150px;
                width: 300px;

            }
        }

        .container_audioInformation {

            .content_audioInfomation--image {
                margin: 4%;
                width: 280px;
            }
        }
    }
}