@import '../../../Scss/var';
@import '../../../Scss/mixin';
@import '../../../Scss/fonts';

* {
    margin: 0;
    padding: 0;

    font-size: 62.5%;
}

body {
    background-color: $color_cream;

    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    font-size: 8.2rem;
    @include pfRegular();
}

h2 {
    font-size: 3.2rem;
    @include pfRegular();
}

h3 {
    font-size: 2.8rem;
    @include pfRegular();
}

h4,
h5,
h6 {
    font-size: 2.4rem;
    @include pfRegular();
}

p,
strong,
b,
i,
a,
ul,
li {
    font-size: 2rem;
    @include effraRegular();
}

.hidden {
    display: none;
}

.container_header--stepSeven {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container_textBlock {
        align-items: center;
        display: flex;
        justify-content: center;

        background-color: $color_blueClear;

        margin: 2rem;
        padding: 2rem;

        width: 40%;

        transform: skew(-20deg);

        .content_textBlock {
            color: $color_white;
            text-align: center;
            transform: skew(20deg);
        }
    }
}

.container_main--stepSeven {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $color_white;
    border-top: 1rem solid $color_blueClear;

    margin: 0 auto;

    width: 80%;

    .content_separationBar--treeColors {
        margin: 2%;
        width: 70%;
    }

    .content_main--imageLaw {
        margin: 2%;
    }

    .container_buttonsLaw {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .container_buttonsLaw--button {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            width: 100%;

            .content_buttonsLaw--button {
                background-color: $color_white;
                border-radius: 50%;
                border: 2rem solid $color_blueDark;
                box-shadow: 0 0 0 .8rem $color_blueDark;
                outline: .3rem solid $color_white;

                cursor: pointer;

                margin: 2%;
                padding: 2rem;
            }
        }

        .container_buttonsLaw--texts {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .container_buttonsLaw--text {
                background-color: $color_blueClear;
                color: $color_white;

                margin: 2% auto;
                padding: 2%;

                transform: skew(-20deg);

                width: 70%;

                .content_buttonsLaw--subtitle {
                    text-align: center;
                    transform: skew(20deg);
                }

                .content_buttonsLaw--text {
                    text-align: center;
                    transform: skew(20deg);

                    a {
                        color: $color_white;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .container_information--texts {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 70%;

        .content_information-text {
            margin: 2%;
            text-align: center;
        }

        .container_informaiton--list {

            .content_information--list {
                text-align: left;
            }
        }
    }

    .container_video--iframe {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content_video--subtitle {
            color: $color_blueDark;
            text-align: center;
        }

        .content_video--text {
            text-align: center;
            width: 70%;
        }

        .content_video--iframe {
            height: 350px;
            width: 560px;
        }
    }

    .container_informationBlockOne {
        align-items: flex-start;
        display: flex;
        flex-direction: column;

        width: 70%;

        .container_informationBlockOne--div {
            align-items: flex-start;
            display: flex;

            margin: 2% 0;

            .container_informationBlockOne--texts {
                width: 50%;

                .container_informationBlockOne--subtitle {
                    color: $color_blueDark;

                    margin: 2% 0;
                }

                .container_informationBlockOne--text {
                    margin: 2% 0;
                }
            }

            .container_informationBlockOne--image {
                display: unset;
            }
        }

        .container_informationBlockOne--list {
            margin-left: 2%;

            .container_informationBlockOne--item {
                margin: 2% 0;
            }
        }
    }

    .container_informationBlockTwo {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .container_informationBlockTwo--subtitle {
            color: $color_blueDark;

            margin-bottom: 2%;

            text-align: center;
            width: 70%;
        }

        .container_informationBlockTwo--div {
            align-items: center;
            display: flex;
            width: 70%;

            .container_informationBlockTwo--image {
                margin-right: 2%;
                width: 50%;
            }

            .container_informationBlockTwo--list {
                width: 50%;

                .content_informationBlockTwo--item {
                    margin: 2%;
                }
            }
        }
    }

    .container_backgroundImage {
        background-image: url(../../assets/step07/background_image--stepSeven.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        margin: 2% 0;
        padding: 10% 0;

        width: 100%;

        .content_backgroundImage--text {
            color: $color_white;
            text-align: center;

            margin: auto;

            width: 70%;
        }
    }

    .container_informationBlockTree {

        .content_informationBlockTree--text {
            margin: 2%;
            text-align: center;
        }

        .container_informationBlockTree--buttons {
            background-image: url(../../assets/step07/image_information--four.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            align-items: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            padding: 5% 0;

            width: 100%;

            .content_informationBlockTree--buttons {
                background-color: $color_white;
                border-radius: 50%;
                border: 2rem solid $color_blueDark;
                box-shadow: 0 0 0 .8rem $color_blueDark;
                outline: .3rem solid $color_white;

                cursor: pointer;

                margin: 2%;
                padding: 2rem;
            }
        }

        .container_informationBlockTree--div {

            .container_informationBlockTree--texts {
                background-color: $color_blueClear;
                color: $color_white;
                margin: 2% auto;
                padding: 2%;

                transform: skew(-20deg);

                width: 70%;

                .content_informationBlockTree--subtitle {
                    text-align: center;
                    transform: skew(20deg);
                }

                .content_informationBlockTree--text {
                    text-align: center;
                    transform: skew(20deg);
                }
            }
        }
    }

    .container_practice {
        align-items: center;
        display: flex;
        flex-direction: column;

        .content_practice--text {
            text-align: center;
            margin: 2%;

        }

        .content_practice--button {
            @include nav_button($color_cream, $color_blueClear, $color_blueDark, $color_white)
        }
    }
}

@media (max-width:1024px) {
    .container_header--stepSeven {

        .container_textBlock {
            width: 70%;
        }
    }

    .container_main--stepSeven {

        .content_main--imageLaw {
            width: 70%;
        }

        .container_buttonsLaw {

            .container_buttonsLaw--texts {

                .container_buttonsLaw--text {
                    transform: skew(-10deg);

                    .content_buttonsLaw--subtitle {
                        transform: skew(10deg);
                    }

                    .content_buttonsLaw--text {
                        transform: skew(10deg);
                    }
                }
            }
        }

        .container_informationBlockOne {

            .container_informationBlockOne--div {

                .container_informationBlockOne--texts {

                    .container_informationBlockOne--subtitle {
                        margin: 0 0 2%;
                    }
                }

                .container_informationBlockOne--image {
                    width: 60%;
                }
            }
        }

        .container_informationBlockTwo {

            .container_informationBlockTwo--div {
                flex-direction: column;

                .container_informationBlockTwo--image {
                    width: 70%;
                }

                .container_informationBlockTwo--list {
                    width: 70%;
                }
            }
        }

        .container_informationBlockTree {

            .container_informationBlockTree--div {

                .container_informationBlockTree--texts {
                    transform: skew(-10deg);

                    .content_informationBlockTree--subtitle {
                        transform: skew(10deg);
                    }

                    .content_informationBlockTree--text {
                        transform: skew(10deg);
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .container_main--stepSeven {
        width: 90%;

        .container_buttonsLaw {

            .container_buttonsLaw--texts {

                .container_buttonsLaw--text {
                    transform: skew(-5deg);

                    .content_buttonsLaw--subtitle {
                        transform: skew(5deg);
                    }

                    .content_buttonsLaw--text {
                        transform: skew(5deg);
                    }
                }
            }
        }

        .container_informationBlockOne {

            .container_informationBlockOne--div {
                align-items: center;
                flex-direction: column;

                .container_informationBlockOne--texts {
                    text-align: center;
                    width: 100%;
                }
            }
        }

        .container_informationBlockTree {

            .container_informationBlockTree--div {

                .container_informationBlockTree--texts {
                    transform: skew(-5deg);

                    .content_informationBlockTree--subtitle {
                        transform: skew(5deg);
                    }

                    .content_informationBlockTree--text {
                        transform: skew(5deg);
                    }
                }
            }
        }
    }
}

@media (max-width:425px) {
    .container_main--stepSeven {
        width: 95%;

        .container_buttonsLaw {

            .container_buttonsLaw--button {

                .content_buttonsLaw--button {
                    border: 1.2rem solid $color_blueDark;
                    box-shadow: 0 0 0 .4rem $color_blueDark;
                    outline: .15rem solid $color_white;

                    padding: 1.5rem;
                }
            }

            .container_buttonsLaw--texts {

                .container_buttonsLaw--text {
                    margin: 2%;
                    transform: skew(0deg);

                    .content_buttonsLaw--subtitle {
                        transform: skew(0deg);
                    }

                    .content_buttonsLaw--text {
                        transform: skew(0deg);
                    }
                }
            }
        }

        .container_video--iframe {

            .content_video--iframe {
                height: 180px;
                width: 350px;
            }
        }

        .container_informationBlockTree {

            .container_informationBlockTree--buttons {

                .content_informationBlockTree--buttons {
                    border: 1.2rem solid $color_blueDark;
                    box-shadow: 0 0 0 .4rem $color_blueDark;
                    outline: .15rem solid $color_white;

                    padding: 1.5rem;
                }
            }

            .container_informationBlockTree--div {

                .container_informationBlockTree--texts {
                    transform: skew(0deg);

                    .content_informationBlockTree--subtitle {
                        transform: skew(0deg);
                    }

                    .content_informationBlockTree--text {
                        transform: skew(0deg);
                    }
                }
            }
        }
    }
}

@media (max-width:425px) {
    .container_main--stepSeven {
        width: 95%;

        .container_video--iframe {

            .content_video--iframe {
                height: 150px;
                width: 300px;
            }
        }
    }
}