@font-face {
  font-family: "pf_agora_slab_regular";
  src: url(../../../Fonts/PF_Agora_Slab_Pro_Regular.ttf);
}

@font-face {
  font-family: "pf_agora_slab_bold";
  src: url(../../../Fonts/PF_Agora_Slab_Pro_Bold.ttf);
}

@font-face {
  font-family: "effra_regular";
  src: url(../../../Fonts/Effra_Std_Rg.ttf);
}

@font-face {
  font-family: "effra_ligth";
  src: url(../../../Fonts/Effra_Std_Lt.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: #ECE4DB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-size: 8.2rem;
  font-family: "pf_agora_slab_regular";
}

h2 {
  font-size: 3.2rem;
  font-family: "pf_agora_slab_regular";
}

h3 {
  font-size: 2.8rem;
  font-family: "pf_agora_slab_regular";
}

h4,
h5,
h6 {
  font-size: 2.4rem;
  font-family: "pf_agora_slab_regular";
}

p {
  font-size: 2rem;
  font-family: "effra_regular";
}

.container_main--stepTwo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-top: 1rem solid #25A29A;
  margin: 2% auto 0;
  width: 80%;
}

.container_main--stepTwo .container_textBlock {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #25A29A;
  margin: 2rem;
  padding: 2rem;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.container_main--stepTwo .container_textBlock .content_textBlock {
  color: #fff;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.container_main--stepTwo .container_interaction {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.container_main--stepTwo .container_interaction .content_interaction--text {
  text-align: center;
  margin: 1rem 0 2rem;
}

.container_main--stepTwo .container_interaction .container_interaction--buttonsAndImage {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container_main--stepTwo .container_interaction .container_interaction--buttonsAndImage img {
  width: 50%;
}

.container_main--stepTwo .container_interaction .container_interaction--buttonsAndImage .container_interaction--buttonsAndText {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2%;
}

.container_main--stepTwo .container_interaction .container_interaction--buttonsAndImage .container_interaction--buttonsAndText .container_interaction--buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  gap: 2.5rem;
  margin: 2% 0;
}

.container_main--stepTwo .container_interaction .container_interaction--buttonsAndImage .container_interaction--buttonsAndText .container_interaction--buttons .content_interaction--button {
  background-color: #005A69;
  color: #fff;
  border-radius: 50%;
  font-size: 4rem;
  font-weight: bold;
  font-family: "pf_agora_slab_bold";
  text-align: center;
  list-style: none;
  padding: 1rem 2.5rem;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.container_main--stepTwo .container_interaction .container_interaction--buttonsAndImage .container_interaction--buttonsAndText .container_interaction--buttons .content_interaction--buttonClick {
  background-color: #25A29A;
}

.container_main--stepTwo .container_interaction .container_interaction--buttonsAndImage .hidden {
  display: none;
}

.container_main--stepTwo .container_interaction .container_interaction--buttonsAndImage .content_interactionButtonsAndText--text {
  text-align: justify;
}

.container_main--stepTwo .container_video .content_video--text {
  margin: 1rem auto;
  text-align: center;
}

.container_main--stepTwo .container_video .content_video--block {
  height: 350px;
  width: 560px;
}

.container_main--stepTwo .container_blockInformation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2%;
}

.container_main--stepTwo .container_blockInformation .content_blockInformation--image {
  width: 50%;
}

.container_main--stepTwo .container_blockInformation .container_blockInformation--text {
  padding: 2%;
  width: 50%;
}

.container_main--stepTwo .container_blockInformation .container_blockInformation--text .content_blockInformation--text {
  text-align: justify;
}

.container_main--stepTwo .content_separationBar--treeColors {
  margin: 2%;
  width: 70%;
}

.container_main--stepTwo .container_footer--stepTwo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2% 0;
}

.container_main--stepTwo .container_footer--stepTwo .content_footer--text {
  margin-bottom: 1rem;
  text-align: center;
  width: 70%;
}

.container_main--stepTwo .container_footer--stepTwo .content_footer--button {
  background-color: #ECE4DB;
  color: #005A69;
  border: none;
  cursor: pointer;
  margin: 1rem;
  padding: 1.5rem 4rem;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.container_main--stepTwo .container_footer--stepTwo .content_footer--button p {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: "pf_agora_slab_regular";
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.container_main--stepTwo .container_footer--stepTwo .content_footer--button:hover {
  background-color: #25A29A;
  color: #fff;
}
/*# sourceMappingURL=step02.css.map */