@import '../../../Scss/var';
@import '../../../Scss/mixin';
@import '../../../Scss/fonts';

* {
    margin: 0;
    padding: 0;

    font-size: 62.5%;
}

body {
    background-color: $color_cream;

    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    font-size: 8.2rem;
    @include pfRegular();
}

h2 {
    font-size: 3.2rem;
    @include pfRegular();
}

h3 {
    font-size: 2.8rem;
    @include pfRegular();
}

h4,
h5,
h6 {
    font-size: 2.4rem;
    @include pfRegular();
}

p {
    font-size: 2rem;
    @include effraRegular();
}

@keyframes showItem {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container_main--stepTwo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $color_white;
    border-top: 1rem solid $color_blueClear;

    margin: 2% auto 0;

    width: 80%;

    .container_textBlock {
        align-items: center;
        display: flex;
        justify-content: center;

        background-color: $color_blueClear;

        margin: 2rem;
        padding: 2rem;

        transform: skew(-20deg);

        .content_textBlock {
            color: $color_white;

            transform: skew(20deg);
        }
    }

    .container_interaction {
        align-items: center;
        display: flex;
        flex-direction: column;

        margin: 0;

        .content_interaction--text {
            text-align: center;
            margin: 1rem 0 2rem;
        }

        .container_interaction--buttonsAndImage {

            align-items: flex-start;
            display: flex;
            justify-content: space-between;

            img {
                width: 50%;
            }

            .container_interaction--buttonsAndText {
                align-items: flex-start;
                display: flex;
                flex-direction: column;

                margin: 0 2%;

                .container_interaction--buttons {
                    align-items: center;
                    display: grid;

                    grid-template-columns: repeat(4, auto);
                    gap: 2.5rem;

                    margin: 2% 0;

                    .content_interaction--button {
                        background-color: $color_blueDark;
                        color: $color_white;

                        border-radius: 50%;

                        font-size: 4rem;
                        font-weight: bold;
                        @include pfBold();
                        text-align: center;

                        list-style: none;

                        cursor: pointer;

                        padding: 1rem 2.5rem;

                        transition: all 250ms ease-in-out;
                    }

                    .content_interaction--buttonClick {
                        background-color: $color_blueClear;
                    }
                }
            }

            .hidden {
                display: none;
            }

            .content_interactionButtonsAndText--text {
                text-align: justify;

                animation-name: showItem;
                animation-duration: .25s;
            }
        }
    }

    .container_video {

        .content_video--text {
            margin: 1rem auto;
            text-align: center;
        }

        .content_video--block {
            height: 350px;
            width: 560px;
        }
    }

    .container_blockInformation {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

        margin: 2%;

        .content_blockInformation--image {
            width: 50%;
        }

        .container_blockInformation--text {
            padding: 2%;
            width: 50%;

            .content_blockInformation--text {
                text-align: justify;
            }
        }
    }

    .content_separationBar--treeColors {
        margin: 2%;
        width: 70%;
    }

    .container_footer--stepTwo {
        align-items: center;
        display: flex;
        flex-direction: column;

        margin: 2% 0;

        .content_footer--text {
            margin-bottom: 1rem;
            text-align: center;
            width: 70%;
        }

        .content_footer--button {
            @include nav_button ($color_cream, $color_blueDark, $color_blueClear, $color_white);
        }
    }
}

@media screen and (max-width:768px) {
    .container_main--stepTwo {
        width: 90%;

        .container_interaction {

            .container_interaction--buttonsAndImage {
                align-items: flex-start;
                flex-direction: column;

                .container_interaction--buttonsAndText {
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width:425px) {
    .container_main--stepTwo {
        width: 95%;

        .container_video {

            .content_video--block {
                height: 200px;
                width: 350px;

                margin: auto;
            }
        }

        .container_blockInformation {
            flex-direction: column;

            .content_blockInformation--image {
                width: 80%;
            }

            .container_blockInformation--text {
                width: 80%;
            }
        }

        .content_footer--text {
            width: 80%;
        }
    }
}

@media screen and (max-width:320px) {

    .container_main--stepTwo {

        .container_interaction {

            .container_interaction--buttonsAndImage {
                align-items: flex-start;
                flex-direction: column;

                .container_interaction--buttonsAndText {
                    align-items: center;

                    .container_interaction--buttons {

                        .content_interaction--button {
                            font-size: 3rem;
                            padding: .8rem 1.8rem;
                        }
                    }
                }
            }
        }

        .container_video {

            .content_video--block {
                height: 150px;
                width: 300px;
            }
        }
    }
}