@font-face {
  font-family: "pf_agora_slab_regular";
  src: url(../../../Fonts/PF_Agora_Slab_Pro_Regular.ttf);
}

@font-face {
  font-family: "pf_agora_slab_bold";
  src: url(../../../Fonts/PF_Agora_Slab_Pro_Bold.ttf);
}

@font-face {
  font-family: "effra_regular";
  src: url(../../../Fonts/Effra_Std_Rg.ttf);
}

@font-face {
  font-family: "effra_ligth";
  src: url(../../../Fonts/Effra_Std_Lt.ttf);
}

* {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: #ECE4DB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-size: 8.2rem;
  font-family: "pf_agora_slab_regular";
}

h2 {
  font-size: 3.2rem;
  font-family: "pf_agora_slab_regular";
}

h3 {
  font-size: 2.8rem;
  font-family: "pf_agora_slab_regular";
}

h4,
h5,
h6 {
  font-size: 2.4rem;
  font-family: "pf_agora_slab_regular";
}

p,
strong,
b,
i,
a,
ul,
li {
  font-size: 2rem;
  font-family: "effra_regular";
}

.hidden {
  display: none;
}

.container_header--stepEight {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_header--stepEight .container_textBlock {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #25A29A;
  margin: 2rem;
  padding: 2rem;
  width: 40%;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

.container_header--stepEight .container_textBlock .content_textBlock {
  color: #fff;
  text-align: center;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.container_main--stepEight {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-top: 1rem solid #25A29A;
  margin: 0 auto;
  width: 80%;
}

.container_main--stepEight .content_separationBar--treeColors {
  margin: 2%;
  width: 70%;
}

.container_main--stepEight .container_mainMap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5%;
}

.container_main--stepEight .container_mainMap .container_mainMap--div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_main--stepEight .container_mainMap .container_mainMap--div .content_mainMap--text {
  margin: 2%;
}

.container_main--stepEight .container_mainMap .container_mainMap--div .text_two {
  margin: 5% 0 5% 5%;
}

.container_main--stepEight .container_mainMap .container_mainMap--div .container_mainMap--list .content_mainMap--item {
  margin: 2%;
}

.container_main--stepEight .container_mainMap .container_mainMap--div .container_mainMap--list .content_mainMap--item a {
  color: #005A69;
  font-weight: bold;
  text-decoration: none;
}

.container_main--stepEight .content_main--subtitle {
  color: #005A69;
  margin: 2%;
  text-align: center;
}

@media (max-width: 768px) {
  .container_main--stepEight {
    width: 90%;
  }
  .container_main--stepEight .container_mainMap--image {
    margin: auto;
    width: 50%;
  }
  .container_main--stepEight .container_mainMap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_main--stepEight .container_mainMap .container_mainMap--div .text_two {
    margin: 2%;
  }
}

@media (max-width: 425px) {
  .container_main--stepEight {
    width: 95%;
  }
  .container_main--stepEight .container_mainMap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_main--stepEight .container_mainMap .container_mainMap--div {
    margin: 2%;
  }
}
/*# sourceMappingURL=step08.css.map */