@font-face {
  font-family: "pf_agora_slab_regular";
  src: url(../../Fonts/PF_Agora_Slab_Pro_Regular.ttf);
}

@font-face {
  font-family: "pf_agora_slab_bold";
  src: url(../../Fonts/PF_Agora_Slab_Pro_Bold.ttf);
}

@font-face {
  font-family: "effra_regular";
  src: url(../../Fonts/Effra_Std_Rg.ttf);
}

@font-face {
  font-family: "effra_ligth";
  src: url(../../Fonts/Effra_Std_Lt.ttf);
}

* {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #ECE4DB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-size: 6.4rem;
  font-family: "pf_agora_slab_regular";
}

h2 {
  font-size: 3.2rem;
  font-family: "pf_agora_slab_regular";
}

h3 {
  font-size: 2.8rem;
  font-family: "pf_agora_slab_regular";
}

h4,
h5,
h6 {
  font-size: 2.2rem;
  font-family: "pf_agora_slab_regular";
}

p {
  font-size: 1.6rem;
  font-family: "effra_regular";
}

.hidden {
  display: none;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close {
  display: none;
}

.container_header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.container_header .content_header--image {
  margin: 2rem;
}

.container_header .container_header--nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 12px;
  z-index: 1;
}

.container_header .container_header--nav .close_nav--icon {
  color: #005A69;
  font-size: 4.8rem;
  cursor: pointer;
  margin: 2rem;
}

.container_header .container_header--nav .container_nav--opened {
  background-color: #005A69;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  width: 40%;
}

.container_header .container_header--nav .container_nav--opened .opened_nav--icon {
  border: solid 0.25rem #fff;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-size: 4.8rem;
  -webkit-transition: all .250ms ease-in-out;
  transition: all .250ms ease-in-out;
}

.container_header .container_header--nav .container_nav--opened .opened_nav--icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container_header .container_header--nav .container_nav--opened .container_nav--buttons .opened_nav--button {
  border: none;
  background-color: transparent;
  color: #fff;
  display: block;
  font-size: 2.2rem;
  margin: 1rem;
  text-align: left;
  cursor: pointer;
}

.container_header .container_header--nav .container_nav--opened .container_nav--buttons .opened_nav--line {
  border: solid 0.1rem #fff;
}

.header_introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_introduction .container_header--title {
  background-image: url(../assets/pld_irb_capa.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

.header_introduction .container_header--title .content_header--title {
  background-color: #005A69;
  -webkit-clip-path: polygon(100% 0, 85% 100%, 0 100%, 0% 0%);
          clip-path: polygon(100% 0, 85% 100%, 0 100%, 0% 0%);
  width: 25%;
}

.header_introduction .container_header--title .content_header--title h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.header_introduction .container_header--bar {
  background-color: #25A29A;
  margin: 0;
  padding: 3rem 0;
  width: 100%;
}

.container_main .iframe_course {
  margin: 0;
  padding: 0;

  height: 560px;
  width: 100vw;
}

.container_main .main_button-start {
  background-color: #fff;
  color: #25A29A;
  border: none;
  cursor: pointer;
  margin: 1rem;
  padding: 1.5rem 4rem;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  margin-left: 50%;
}

.container_main .main_button-start p {
  font-size: 2rem;
  font-weight: bold;
  font-family: "pf_agora_slab_regular";
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.container_main .main_button-start:hover {
  background-color: #25A29A;
  color: #fff;
}

@media (max-width: 425px) {
  .container_main .main_button-start {
    font-size: 1.8rem;
    padding: 1rem 2.5rem;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  .container_main .main_button-start p {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

.container_footer {
  background-color: #005A69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_footer .main_button-previous {
  background-color: #ECE4DB;
  color: #25A29A;
  border: none;
  cursor: pointer;
  margin: 1rem;
  padding: 1.5rem 4rem;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.container_footer .main_button-previous p {
  font-size: 2rem;
  font-weight: bold;
  font-family: "pf_agora_slab_regular";
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.container_footer .main_button-previous:hover {
  background-color: #fff;
  color: #005A69;
}

@media (max-width: 425px) {
  .container_footer .main_button-previous {
    font-size: 1.8rem;
    padding: 1rem 2.5rem;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  .container_footer .main_button-previous p {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

.container_footer .main_button-next {
  background-color: #25A29A;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 1rem;
  padding: 1.5rem 4rem;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.container_footer .main_button-next p {
  font-size: 2rem;
  font-weight: bold;
  font-family: "pf_agora_slab_regular";
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.container_footer .main_button-next:hover {
  background-color: #ECE4DB;
  color: #005A69;
}

@media (max-width: 425px) {
  .container_footer .main_button-next {
    font-size: 1.8rem;
    padding: 1rem 2.5rem;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  .container_footer .main_button-next p {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

.container_footer .main_button-finish {
  background-color: #ECE4DB;
  color: #25A29A;
  border: none;
  cursor: pointer;
  margin: 1rem;
  padding: 1.5rem 4rem;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.container_footer .main_button-finish p {
  font-size: 2rem;
  font-weight: bold;
  font-family: "pf_agora_slab_regular";
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.container_footer .main_button-finish:hover {
  background-color: #fff;
  color: #005A69;
}

@media (max-width: 425px) {
  .container_footer .main_button-finish {
    font-size: 1.8rem;
    padding: 1rem 2.5rem;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  .container_footer .main_button-finish p {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}





@media (max-width: 425px) {
  .container_header .container_header--nav .container_nav--opened {
    width: 80%;
  }
  .header_introduction .container_header--title .content_header--title {
    width: 45%;
  }
  
  .container_main .iframe_course {
    height: 100vh;
  }

  .container_footer {
    background-color: #005A69;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 320px) {
  .header_introduction .container_header--title .content_header--title {
    width: 55%;
  }
  
}
/*# sourceMappingURL=style.css.map */